<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Introducing themselves</h1>
    <% names.forEach(function(name){ %>
    <ul>
        <li>my name is <%= name %>. I am from pamidi.</li>
    </ul>
    <% }) %>
</body>
</html>