<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>    
        <h1 style="text-align: center; color:navy">WEB DEV</h1>
    </div>
    <div>
        <h4>title: </h4>
        <h6>CreatedAt:</h6>
        <P>Description:</P>
    </div>

</body>
</html>