<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create new todo</h1>
    <form method='post' action="/newtodo">
        <input type="text" name="todo">
        <button type="submit">add todo</button>
    </form>
</body>
</html>